$brand-color : #3cb371;
$dark: #3B2A41;
$background: #fefefe;
$gold: #D1BC66;
$peachy: #C99F9A;
$black: black;
$uglyorange: orange;

body {
  background: $background;
  color: $black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.navbar {
  background: $gold;
  border-top: 1px solid black;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 40px;
  line-height: 40px;
  flex: 1, 0, 200px;
  justify-content: space-between;
}

.navbar-link {
  padding-left: 15px;
  align-items: center;
  justify-content: flex-start;
}

.user-count {
   color: $brand-color;
   align-items: center;
   float: right;
   padding: 0 10px;
   justify-content: flex-end;
}


.chatbar {
  background: $uglyorange;
  border-top: 1px solid $dark;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid $black;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 5 0 200px;
}

.chatbar-username {
  flex: 1, 0 , 50px;
}

.message {
  display: flex;
  padding: 5px;
  white-space: pre-wrap;
}
